@media(max-width:768px){
    .col-0{
       display: none;
       width: 0 !important;
    }
}
.window{
    min-height: 65vh;
    min-width: 80vw;
    background-color: white;
    box-shadow: 5px 5px 4px black;
}
label{
    font-size: 0.6em;
    margin-bottom: 0 !important;
    color:#330033;
    font-weight: bold;
}
line{ 
    stroke: #949494; 
    stroke-width:0.5
}
#l1,#l2{
    font-size: 1.2em;
    color:  #330033;
}
#l2{
    font-size: 1.5em;
    color:black !important;
}
.pr-0{
    padding-right: 0% !important;
}
span.line{
    color: #949494;
    font-size: 0.4em;
}
